header{
  padding: 20px 0;
  background-color: rgb( 40, 40, 40);
  color: aqua;
}

.header-center{
  height: auto;
  width: 70%;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}

.header-head{
  display: flex;
  /* background-color: lightcyan; */
}

.main-title{
  height: auto;
  /* background-color: lightcyan; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-username{
  font-size: 30px;
  margin: auto 0 0 auto;
  color: aqua;
}

.header-name-link{
  color: aqua;
  font-size: 50px;
  text-decoration: none;
  transition: .4s;
  position: absolute;
  top: 5px;
}

.header-name-link:hover{
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.header-title{
  font-size: 30px;
  color: aqua;
  text-decoration: none;
}

.header-title-lb{
  color: aqua;
  text-decoration: none;
  font-size: 22px;
}

.header-list{
  width: auto;
  display: flex;
  justify-content: space-around;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.text{
  padding-top: 20px;
  color: aqua;
  font-size: 40px;
  text-decoration: none;
  transition: color 0.5s;
}

.header-sub{
  height: 40%;
  background-color: white;
}

.header-ul1{
  font-size: 30px;
  text-align: right;
}

.header-li{
  display: inline;
  margin-right: 30px;
}

.user-nickname {
  text-decoration: none;
  color:aqua;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: aqua;
}

.login {
  text-decoration: none;
  line-height: 32px;
  color:aqua;
}

.sign-up {
  text-decoration: none;
  color:aqua;
}

/* =================================== */
/* 下部ボタン */

.header-menu{
  height: 60px;
  width: auto;
  text-align: center;
  background-color: aqua;
}

.header-ul2{
  height: auto;
  width: auto;
  display: flex;
  justify-content: left;
  margin: auto 0 auto;
  
}

.header-btn{
  font-size: 25px;
  justify-content: space-between;
  padding: 10px 30px;
  font-family: "游ゴシック", "YuGothic";
}

.line{
  position: relative;
  width: 100%;
  margin: 5px 0;
  padding: 20px 0;/*ボーダーとテキストに空間をあける為のpadding*/
  color: #3F7EFA;
  text-align: center;
}

.line::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  text-align: center;
  background: #000; /*この部分は後にlinear-gradientへ*/
  background-image: -webkit-linear-gradient(left, transparent, aqua 25%, aqua 75%, transparent);
  background-image: linear-gradient(to right, transparent, aqua 25%, aqua 75%, transparent);
  background-position: center;
  background-repeat: no-repeat;
}