header{
  height: 500px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-main{
  height: 100%;
  width: auto;
  background-image: url("https://www.moriguchi-sports.jp/images/top/top-image02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
}

.header-title{
  color: black;
  text-decoration: none;
  font-size: 50px;
  /* margin: 20px 100px 0; */
}

.text{
  padding-top: 20px;
  color: black;
  font-size: 40px;
  text-decoration: none;
  text-shadow: black;
}

.header-sub{
  height: 40%;
  background-color: white;
}

.header-ul1{
  font-size: 30px;
  text-align: right;
}

.header-li{
  display: inline;
  margin-right: 30px;
}

.user-nickname {
  text-decoration: none;
  color:black;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: black;
}

.login {
  text-decoration: none;
  line-height: 32px;
  color:black;
}

.sign-up {
  text-decoration: none;
  color:black;
}

/* =================================== */
/* 下部ボタン */

.header-menu{
  height: 60px;
  width: auto;
  text-align: center;
  background-color: #0077dd;
}

.header-ul2{
  height: auto;
  width: auto;
  display: flex;
  justify-content: left;
  margin: auto 0 auto;
  
}

.header-btn{
  font-size: 25px;
  justify-content: space-between;
  padding: 10px 30px;
  font-family: "游ゴシック", "YuGothic";
}