<div class="top-main">
  <h2 class="login-top-title">Myapp<br>職員用システム</h2>
  <div class="top-form">
    <%= link_to 'sign-up', new_user_registration_path, class: "top-sign-up-btn" %>
    <%= link_to 'sign-in', new_user_session_path, class: "top-login-btn" %>
  </div>
</div>