<div class="top-main">
  <h2 class="login-top-title">Hello! Welcome to mypage.<br>Please log in first！</h2>
  <div class="top-form">
    <% if user_signed_in? %>
      <div class="sign_in_text" >
        <%= "あなたは#{current_user.username}さんです。" %>
      </div>
    <% else %>
      <%= link_to '新規登録', new_user_registration_path, class: "top-sign-up-btn" %>
      <%= link_to 'ログイン', new_user_session_path, class: "top-login-btn" %>
    <% end %>
      
  </div>
</div>