.tag_lists{
  color: aqua;
  text-decoration: none;
}

/* ボタン */
.btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
  position: absolute;
  right: 60px;
}

.btn-circle-fishy:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* /ボタン */

.tweet-top{
  font-size: 30px;
  margin-top: 50px;
  border-bottom: 4px solid greenyellow;
}

.tweet-block{
  height: auto;
}

.show-link{
  text-decoration: none;
}

.new-link{
  height: 200px;
  width: 600px;
  margin: 30px auto 30px;
  padding: 20px 20px 10px;
  border: 1px solid gray;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  color: black;
  background-color: aqua;
  position: relative;
  /* box-shadow: rgb(1, 190, 190) 20px 10px; */
  transition: box-shadow 0.2s ease 0s;
}

.new-link:hover{
  box-shadow: rgb(1, 190, 190) 20px 10px;
}

.old-link{
  height: 200px;
  width: 600px;
  margin: 30px auto 30px;
  padding: 20px 20px 10px;
  border: 1px solid gray;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  color: black;
  background-color: rgb(60, 60, 60);
  position: relative;
  transition: box-shadow 0.2s ease 0s;
}

.old-link:hover{
  box-shadow: gray 20px 10px;
}

/* .new-link:hover, .old-link:hover{
  border: 1px solid white;
} */

.tweet-under{
  display: flex;
}

.no_image{
  position: relative;
  position: absolute;
  top: 25px;
  left: 450px;
}

.right-tweet{
  position: relative;
  position: absolute;
  top: 25px;
  left: 450px;
}


.tweet-title{
  font-size: 25px;
  color: black;
}

.tweet-show{
  width: auto;
}

.tweet-btn{
  text-decoration: none;
}

.tweet-genre{
  width: 780px;
  font-size: 18px;
  margin-top: 20px ;
  border-bottom: 1px solid;
}

.tweet-text{
  width: 450px;
  color: gray;
  font-size: 15px;
  margin: 20px 0 50px;
}

.tweet-under{
  position: absolute;
  bottom: 0;
  display: flex;
}

.poster{
  margin-bottom: 20px;
  color: gray;
  font-size: 15px;
}

.tweet-day{
  margin-left: 10px;
  font-size: 15px;
  color: grey;
}

.tweet-image{
  height: 170px;
  width: 170px;
  border-radius: 20px;
}

.show-btn{
  text-decoration: none;
}

.container{
  height: auto;
  width: 15vw;
  right: 20%;
}




.testing{
  color: black;
}

.testing:hover{
  color: red;
}