.tag_lists{
  color: #0077dd;
  text-decoration: none;
}

.post-post{
  position: absolute;
  top: 20px;
  right: 60px;
  height: 45px;
  width: 120px;
  border-radius: 30px;
  text-align: center;
  background-color: red;
  box-shadow: 2px 2px black;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
}

.tweet-top{
  font-size: 30px;
  margin-top: 50px;
  border-bottom: 4px solid greenyellow;
}

.tweet-block{
  height: auto;
}

.show-link{
  text-decoration: none;
}

.new-link{
  height: 200px;
  width: 600px;
  margin: 30px auto 30px;
  padding: 20px 20px 10px;
  border: 1px solid gray;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  color: black;
  background-color: lightcyan;
  position: relative;
}

.old-link{
  height: 200px;
  width: 600px;
  margin: 30px auto 30px;
  padding: 20px 20px 10px;
  border: 1px solid gray;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  color: black;
  background-color: rgb(60 60 60);
  position: relative;
}

.tweet-under{
  display: flex;
}

.right-tweet{
  width: 450px;
  position: relative;
  position: absolute;
  top: 25px;
  left: 450px;
}

.tweet-title{
  font-size: 25px;
  color: lightgray;
}

.tweet-show{
  width: auto;
}

.tweet-btn{
  text-decoration: none;
}

.tweet-genre{
  width: 780px;
  font-size: 18px;
  margin-top: 20px ;
  border-bottom: 1px solid;
}

.tweet-text{
  width: 450px;
  color: gray;
  font-size: 15px;
  margin: 20px 0 50px;
}

.tweet-under{
  position: absolute;
  bottom: 0;
  display: flex;
}

.poster{
  margin-bottom: 20px;
  color: gray;
  font-size: 15px;
}

.tweet-day{
  margin-left: 10px;
  font-size: 15px;
  color: grey;
}

.tweet-image{
  height: 170px;
  width: 170px;
  border-radius: 20px;
}

.show-btn{
  text-decoration: none;
}

.container{
  height: auto;
  width: 15vw;
  right: 20%;
}