
.center-user{
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: black;
  /* background: linear-gradient(#F2B9A1, #EA6264); */
}

.fields{
  height: auto;
  width: 900px;
  font-size: 25px;
  margin: auto;
  border: 2px solid #dddd;
  /* box-shadow: 0 0 10px rgb(41 41 41); */
}

input[type="email"]{
  height: 40px;
  width: 400px;
}

input[type="password"]{
  height: 40px;
  width: 400px;
}

input[type="submit"]{
  height: 40px;
  width: 200px;
}

.field{
  color: aliceblue;
  font-family: 'Times New Roman';
  margin: 40px 100px;
}

.actions{
  padding: 10px 30px;
  font-family: 'Times New Roman';
  text-align: center;
}

.submit-btn{
  width: 300px;
  margin-bottom: 30px;
}