
.center-user{
  height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(#F2B9A1, #EA6264);
}

.fields{
  height: 500px;
  width: 900px;
  font-size: 25px;
  margin: auto;
  border: 2px solid #dddd;
  box-shadow: 0 0 10px rgb(41 41 41 / 20%);
}

.field{
  font-family: 'Times New Roman';
  margin: 40px 100px;
}

.actions{
  padding: 10px 30px;
  font-family: 'Times New Roman';
  text-align: center;
}

.submit-btn{
  width: 300px;
  height: 50px;
}