.show-main{
  width: auto;
  display: flex;
  font-size: 30px;
  background-color:white;
}

.tweet-show-news{
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid springgreen;
}

.show-block{
  height: auto;
  left: 0;
  right: 0;
  margin-bottom: 80px;
  border: 1px dotted gray;
  /* background-color: honeydew; */
}

.tweet-link{
  height: 400px;
  width: auto;
  padding-left: 20px;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  margin: 20px;
  background-color: white;
  border: 1px solid white;
}

.show-tweet-title{
  width: 860px;
  font-size: 20px;
  color: grey;
  margin: 20px 20px 20px 0;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid gray;
  border-left: 5px solid gray;
}

.title-lun{
  font-size: 50px;
}


.show-tweet-genre{
  width: auto;
  margin: auto 0 0 auto;
  /* border-left: 5px solid grey; */
  padding-right: 30px;
  /* background-color: lightcoral; */
  font-size: 20px;
}

.show-tweet-text{
  height: 300px;
  width: auto;
  margin: 0 20px 20px 0;
  /* border-left: 5px solid grey; */
  padding-left: 10px;
  /* background-color: lightyellow; */
  font-size: 20px;
}