.show-main{
  width: auto;
  display: flex;
  font-size: 30px;
  background-color:white;
}

.tweet-show-news{
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid springgreen;
}

.show-block{
  height: 530px;
  width: 100%;
  left: 0;
  right: 0;
  margin-bottom: 80px;
  border: 1px solid gray;
  border-radius: 4px;
}

.show-tweet-title{
  width: 900px;
  font-size: 20px;
  color: grey;
  margin: 30px;
  padding: 5px;
  padding-left: 10px;
  border-bottom: 1px dotted gray;
  /* border: 1px dotted gray; */
  /* border-left: 5px solid gray; */
}

.show-tweet-main{
  margin-left: 30px;
  display: flex;
}

.show-tweet-text {
  height: 300px;
  width: 560px;
  border: 1px dotted gray;
  border-radius: 4px;
  margin-right: 20px;
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
}

.text-change{
  text-decoration: dotted;
  text-decoration-color: gray;
}

.show-tweet-image{
  /* height: 400px; */
  width: 400px;
}

.show-tweet-poster{
  margin-left: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.edit-btn{
  /* margin: 0 0 50px 20px; */
  margin-left: 20px;
  padding-left: 10px;
  font-size: 20px;
  position: absolute;
}


.show-image{
  height: 300px;
  width: 300px;
  margin-left: 20px;
  border-radius: 25px;
}



/* user-show */

.show-title{
  font-size: 50px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}