.top-main{
  height: 100vh;
  color: white;
  padding-top: 70px;
  background-color: black;
  /* background: linear-gradient(-135deg, #E4A972, #9941D8); */
}

.login-top-title{
  font-size: 3rem;
  text-align: center;
  padding-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.top-form{
  height: 300px;
  width: 800px;
  margin: 50px auto 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-sign-up-btn{
  height: auto;
  width: auto;
  font-size: 30px;
  padding: 10px 100px;
  border: 1px solid lightblue;
  border-radius: 50px;
  text-decoration: none;
  color: aqua;
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: gray;
}

.top-login-btn{
  height: auto;
  width: auto;
  font-size: 30px;
  padding: 10px 100px;
  border: 1px solid lightblue;
  border-radius: 50px;
  text-decoration: none;
  color: aqua;
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: gray;
}

.sign_in_text{
  font-size: 50px;
}