/* // Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */


.main{
  height: auto;
  width: auto;
  display: flex;
  font-size: 30px;
  /* background-color: white; */
}

.wrapper{
  height: auto;
  width: 15vw;
  /* background-color: ivory; */
}

.center{
  /* height: auto; */
  width: 70%;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 30px;
  padding: 50px;
  position: relative;
  background-color: ivory;
  box-shadow: 0 0 8px gray;
}

/* .container{
  background-color: ivory;
} */

.top-image{
  height: 400px;
  width: auto;
  border: 1px solid black;
  background-image: url("https://www.moriguchi-sports.jp/images/top/top-image02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:5px 5px gray;
}

.title{
  margin:10px auto 100px;
  display: flex;
  text-justify: auto;
}

.post-link{
  color: black;
  font-size: 30px;
  text-decoration: none;
  margin: auto 0 auto auto;
}

/* ==================================== */

.tweet-contents{
  align-items: center;
}

.new-info{
  height: 240px;
  width: auto;
  margin: 0 50px 0;
  padding: 20px 0 0 20px;
  background-color: white;
  box-shadow:5px 5px gray;
}

.tweet-contents{
  margin-bottom: 30px;
}

.top-title{
  font-size: 50px;
  text-align: center;
}

.new-tweet{
  border-bottom: 1px solid gray;
  margin: 2px auto;
  font-size: 20px;
  display: flex;
  list-style-type: disc;
}

.t-title{
  margin: 10px auto auto 60px;
  color: deepskyblue;
}

.t-updated_at{
  margin: 10px 0 0 30px;
  color: gray;
}

.link{
  color: black;
  background-color: lightgray;
  text-decoration: none;
}



/* --------------------------------------- */
